/* Reset */

body { margin: 0 }
p { margin: 0 }

/* Column */
.c { display: table;
     vertical-align: inherit; /* Subtables should maintain alignment intent */
     min-height: 1px; /* Height must be explicitly set for children to inherit it */ }
.c > * { display: table-row;
	 vertical-align: inherit; }
.c > * > * { display: table-cell;
	     vertical-align: inherit; }

/* Row */
.r { display: table;
     min-height: 1px;
     vertical-align: inherit; } 
.r > *{ display: table-cell;
	vertical-align: inherit; }

/* Padding */
.psb > * { padding-left: calc(var(--s-b, 20px) / 2); /* Padding Space-Between */
	  padding-right: calc(var(--s-b, 20px) / 2); }
.psb > *:first-child { padding-left: 0 }
.psb > *:last-child { padding-right: 0 }

/* Justify */
.jsb { display: flex;
       justify-content: space-between; }
.jse { display: flex;
       justify-self: end }
.jss { display: flex;
       justify-self: start }
/* Grids */
.gcs { grid-column-start: 1 } /* Pushes the subsequent elements onto the next row, leaving current row empty */

/* Flexbox */
.faih { display: flex;
	align-items: stretch; }

/* Margins */
.mc { margin-left: auto;
      margin-right: auto; }
.mr { margin-left: auto }
.mbsb > * { margin-top: var(--s-b, 10px); /* Margin Block-axis Space Between */
	    margin-bottom: var(--s-b, 10px); }
.mbsb > *:first-child { margin-top: 0 }
.mbsb > *:last-child { margin-bottom: 0 }

/* Size */
.w { width: 100% }
.h { height: 100% }

/* Text */
.tt { display: flex;
      align-items: top; }
.tm { display: flex;
      align-items: center; }
.tb { display: flex;
      align-items: bottom; }
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.tb { font-weight: bold }

.thi { padding-left: var(--h-i, 20px); /* Text Hanging Indent */
       text-indent: calc(-1 * var(--h-i, 20px)); }
